.movie-box {
  background-color: white;
  font-weight: 300;
  color: hsl(235, 8%, 70%);
  display: flex;
  padding: 35px;
  margin-bottom: 80px;
  border-radius: 5px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie-box img {
  position: relative;
  top: -70px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie-detail {
  margin: 30px;
}

.movie__title {
  color: rgb(41, 41, 41);
  text-decoration: none;
}

.movie__genres {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
